@import "./components/_sideBar.css";
@import "./pages/_textComparison.css";
@import "./components/_loader.css";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    display: flex;
}


@media (max-width: 830px) {
    
    
    .app{
        display: flex;
        flex-direction: column;
    }
}